@media (min-width:1300px){
    .navbar{
        display: flex;
        justify-content: space-between;
        padding: 1em;
        margin-bottom: 2em;
    }
    
    .navbar ul{
        display: flex;
        list-style: none;
        align-items: center;
    }
    
    .navbar li{
        margin: 10px;
    }
    
    .navbar a{
        color: aliceblue !important;
    }
}

@media (min-width:800px) and (max-width:1299px){
    .navbar{
        display: flex;
        justify-content: space-between;
        padding: 1em;
        margin-bottom: 2em;
    }
    
    .navbar ul{
        display: flex;
        list-style: none;
        align-items: center;
    }
    
    .navbar li{
        margin: 10px;
    }
    
    .navbar a{
        color: aliceblue !important;
    }
}

@media (min-width:430px) and (max-width:799px){
    .navbar{
        display: flex;
        justify-content: space-between;
        padding: 1em;
        margin-bottom: 2em;
    }
    
    .navbar ul{
        display: none;
    }
    
    .navbar li{
        margin: 10px;
    }
    
    .navbar a{
        color: aliceblue !important;
    }
}

@media (min-width:300px) and (max-width:429px){
    .navbar{
        display: flex;
        justify-content: space-between;
        padding: 1em;
        margin-bottom: 2em;
    }
    
    .navbar ul{
        display: none;
    }
    .navbar li{
        margin: 10px;
    }
    
    .navbar a{
        color: aliceblue !important;
    }
}